# ГАЙД ПО ЗАПОЛНЕНИЮ НАСТРОЕК - https://docs.astrum.foundation/nachalo-raboty/nastroika-softa/nastroiki#nastroiki

#----------------------------------------------------GALXE SETTINGS-----------------------------------------------------

SOLVE_TWITTER_TASKS = true                  # решать Galxe задания с Twitter
SOLVE_DISCORD_TASKS = true                  # решать Galxe задания с Discord

SHUFFLE_CAMPAIGNS = true                    # перемешать ветку, перед выполнением
CLEAR_RESERVES_IF_OVER = true               # чистит файлов резервов до первоначального состояния, чтобы раскодники брались по кругу
CHANGE_WRONG_SOCIAL_ACCOUNT = true          # отвязывает уже привязаный к Galxe аккаунт и линкует новый
PROCESS_NOT_FULL_FINISHED_CAMPAIGNS = true  # будет проходить кампании до конца, пока не заклеймит все награды

FAKE_TWITTER_FOLLOW = false                 # делать квесты без подписок в Twitter (протыкивать)
FAKE_TWITTER_LIKE = false                   # делать квесты без лайков в Twitter (протыкивать)
FAKE_TWITTER_RETWEET = false                # делать квесты без ретвитов в Twitter (протыкивать)
FAKE_TWITTER_QUOTE = false                  # делать квесты без постов в Twitter (протыкивать)

CLAIM_NOT_FULL_FINISHED_CAMPAIGNS = false   # клеймить ли кампанию если она не пройдена до конца

CLAIM_NFT_REWARDS = true                    # выполнять задания для получения NFT
CLAIM_DISCORD_ROLE_REWARDS = true           # выполнять задания для получения Discord Role
CLAIM_ONCHAIN_POINTS_REWARDS = true         # клеймить ончейн поинты за выполненные задания

GALXE_G_WITHDRAW_AMOUNT = [10, 20]          # сумма G для вывода в сеть Gravity из биржи. Для вывода используется биржа OKX

#-------------------------------------------------------TWITTER---------------------------------------------------------

CHANGE_TWITTER_TOKEN = true                 # разрешено ли софту менять Twitter токен при ошибках.

DELETE_TWEET_AFTER = false                  # удаляет твит, после выполения действий
DELETE_RETWEET_AFTER = false                # удаляет ретвит, после выполения действий

#-------------------------------------------------------DISCORD---------------------------------------------------------

CHANGE_DISCORD_TOKEN = true                 # разрешено ли софту менять Discord токен при любых ошибках
CHANGE_DISCORD_TOKEN_GUILD_BANNED = true    # менять Discord токен при его бане на сервере. Чтобы попробывать сменить прокси укажите false

SKIP_DISCORD_ACTION = false                  # не выполнять действий через Discord, софт просто попробует заклеймить поинты
VERIFY_BOT_ON_GUILD = false                  # проходить каптча ботов на Discord серверах после активации инвайта (Pandez, Sledgehammer)

#-------------------------------------------------------ONCHAIN---------------------------------------------------------

# Можно указать проценты от баланса: ["10", "20"] = 10-20% от баланса
# Или фиксированную сумму: [0.001, 0.005] = 0.001-0.005 ETH

DUST_AMOUNT = [0.00002, 0.00004]            # применяется для транзакций на очень маленькие суммы (ethereum_bridge_relay_sand, ethereum_random_approve)
TRANSFER_AMOUNT = [0.000001, 0.00001]         # применяется для трансферов эфира на свой или рандомный адрес
WRAP_AMOUNT = [0.0001, 0.0002]                # применяется для врапов нативных монет, анврап на 100%

#----------------------------------------------------BRIDGE/REFUEL------------------------------------------------------
#
# Доступные сети для Relay Bridge:
#   EVM:    "Ethereum", "Arbitrum", "Optimism", "Base", "Linea", "Scroll", "zkSync",
#           "Zora", "Polygon", "Avalanche", "BNB Chain", "Ink", "Abstract", "Soneium", "Plume"
#   Non-EVM: "Solana", "Eclipse"
#
# Доступные сети для GasZip Refuel:
#   "Ethereum", "Arbitrum", "Optimism", "Base", "Linea", "Scroll", "zkSync",
#   "Zora", "Polygon", "Avalanche", "BNB Chain", "Abstract", "Soneium", "Plume", "Ink"
#

BRIDGE_L2_NETWORKS = ["Arbitrum", "Optimism", "Base"]        # сети-источники для бриджа (откуда бриджим)
BRIDGE_DST_NETWORK = "Ethereum"                                 # сеть назначения для модулей bridge_in/bridge_out
BRIDGE_AMOUNT = [0.0002, 0.0003]       # сумма бриджа нативки между сетями или рефьюла в сеть
BRIDGE_LIMITER = [0.0, 0.0]          # необходимая сумма, которую оставит софт при обратном бридже (bridge_out)

BRIDGE_RELAY_MAX_IMPACT = 25.0                # максимальная разница в % исходящей и входящей суммы, софт будет ждать данную разницу
BRIDGE_JUMPER_ROUTE_TYPES = [11, 12, 13, 14] # какие роуты использовать при работе бриджах (если указать [], то выберет самый дешевый):
# 11-Mayan, 12-Mayan MCTP, 13-Mayan Wormhole, 7 - StargateV2Bus, 14 - Relay

# работает для умных бриджей (модули с названием ..._smart_bridge)
BRIDGE_WANT_BALANCE = [0.001, 0.002] # сумма нативки на балансе в отрабатываемом чейне, при нехватке софт запустит процесс вывода + бриджа в сеть
BRIDGE_MIN_DIFF = 0.0005 # минимальная разница между желаемой и фактической суммой для запуска умного бриджа/рефьюла
BRIDGE_WAIT_FOR_RECEIPT = true # ожидать поступления средств после бриджа в сети назначения

#---------------------------------------------------------CEX-----------------------------------------------------------

CEX_WITHDRAW_USING = 1                         # какие биржи использовать для работы: 1-OKX, 3-Binance, 4-Bitget. Пример нескольких: CEX_WITHDRAW_USING = [3, 4]
CEX_WITHDRAW_NETWORKS = [2, 3, 6]              # какие сети использовать при работе с биржами (1-Ethereum, 2-Arbitrum, 3-Optimism, 5-Linea, 6-Base, 8-BNB)
CEX_WITHDRAW_AMOUNT = [0.001, 0.002]           # сумма вывода ETH в сети CEX_WITHDRAW_NETWORKS. Можно указывать % или кол-во

CEX_DEPOSIT_USING = 4                          # какие биржи использовать для работы: 1-OKX, 3-Binance, 4-Bitget. Пример нескольких: CEX_DEPOSIT_USING = [3, 4]
CEX_DEPOSIT_NETWORKS = [2, 3, 6]                     # какие сети использовать при работе с биржами (1-Ethereum, 2-Arbitrum, 3-Optimism, 5-Linea, 6-Base, 8-BNB)
CEX_DEPOSIT_AMOUNT = ["100", "100"]            # сумма депозита на биржу из сетий CEX_DEPOSIT_NETWORKS. Можно указывать % или кол-во
CEX_DEPOSIT_LIMITER = [0.0, 0.0]               # количество в токене, которое нужно оставить на аккаунте перед депозитом

CEX_COLLECT_FROM_SUB = true                  # собирать средства с суб-аккаунтов
CEX_WAIT_FOR_RECEIPT = true                  # ожидать подтверждения депозита на биржу

#------------------------------------------------------PLAYWRIGHT-------------------------------------------------------

PLAYWRIGHT_HEADLESS_MODE = false              # если поставить true, то софт будет работать без открытия браузера
PLAYWRIGHT_TEMP_PROFILES = false              # если поставить true, то софт не будет сохранять кэш браузера между запусками

#--------------------------------------------------------MODULES--------------------------------------------------------
#
#    cex_withdraw        # вывод с биржи на кошелек:
#                        # - биржа: CEX_WITHDRAW_USING (1-OKX, 3-Binance, 4-Bitget)
#                        # - сеть: случайная из CEX_WITHDRAW_NETWORKS
#                        # - сумма: CEX_WITHDRAW_AMOUNT
#
#    cex_deposit         # депозит на биржу с кошелька:
#                        # - биржа: CEX_DEPOSIT_USING (1-OKX, 3-Binance, 4-Bitget)
#                        # - сети для поиска баланса: CEX_DEPOSIT_NETWORKS
#                        # - сумма: CEX_DEPOSIT_AMOUNT
#                        # - оставить на кошельке: CEX_DEPOSIT_LIMITER
#
#    bridge_in           # бридж ETH из L2 в целевую сеть через Relay:
#                        # - ищет баланс в сетях BRIDGE_L2_NETWORKS
#                        # - бриджит в сеть BRIDGE_DST_NETWORK
#                        # - сумма: BRIDGE_AMOUNT
#
#    bridge_out          # бридж ETH из целевой сети обратно в L2 через Relay:
#                        # - бриджит из BRIDGE_DST_NETWORK в случайную L2 из BRIDGE_L2_NETWORKS
#                        # - оставляет BRIDGE_LIMITER на исходном кошельке
#
#    refuel_in           # рефьюл ETH из L2 в целевую сеть через GasZip:
#                        # - ищет баланс в сетях BRIDGE_L2_NETWORKS
#                        # - рефьюлит в сеть BRIDGE_DST_NETWORK
#                        # - сумма: BRIDGE_AMOUNT
#
#    refuel_out          # рефьюл ETH из целевой сети обратно в L2 через GasZip:
#                        # - рефьюлит из BRIDGE_DST_NETWORK в случайную L2 из BRIDGE_L2_NETWORKS
#                        # - оставляет BRIDGE_LIMITER на исходном кошельке
#
#--------------------------------------------------------Ethereum--------------------------------------------------------

#    ethereum_bridge_relay_into                # бридж из BRIDGE_L2_NETWORK через Relay на сумму BRIDGE_AMOUNT
#    ethereum_bridge_relay_from                # бридж из Ethereum через Relay на сумму BRIDGE_AMOUNT
#    ethereum_transfer_eth_to_deposit          # трансфер эфира на EVM Deposit Address. см. CEX_DEPOSIT_AMOUNT
#
#    ethereum_bridge_relay_sand                # бридж из Ethereum через Relay на сумму в DUST_AMOUNT
#    ethereum_wrap_eth                         # wrap ETH через офф. контракт
#    ethereum_unwrap_eth                       # unwrap ETH через офф. контракт
#    ethereum_refuel_gaszip                    # рефьел через GasZip в сети BRIDGE_L2_NETWORK на сумму DUST_AMOUNT
#    ethereum_random_approve                   # рандомный апрув на случайны контракт агрегаторов свапов (1inch, ODOS, XYFinance, OpenOcean)
#    ethereum_transfer_eth_to_myself           # трансфер эфира на СВОЙ адрес. см. TRANSFER_AMOUNT
#    ethereum_transfer_eth_to_random           # трансфер эфира на СЛУЧАЙНЫЙ адрес. см. TRANSFER_AMOUNT
